@import "../../App.scss";

.booking {
  padding: 30px 0px;
  min-height: 80vh;
}

.header {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;

  h2 {
    font-family: $font-markazi;
    font-weight: normal;
    margin: 0;
  }

  div {
    font-size: 18px;
  }
}

.back-button {
  cursor: pointer;
  @include link-highlight;
}

.form {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 20px;
}

.group-size {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: #{$grid-breakpoints-lg}) {
  .form {
    width: 100%;
  }
}

@media (min-width: #{$grid-breakpoints-lg}) {
  .form {
    width: #{$grid-breakpoints-md};
  }
}